<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/base.css">
  <title>Boooooook App - Search</title>
</head>
<body>
  <form action="/new" method="POST">
  <fieldset>
    <legend>Search Spooky Titles</legend>
    <label><span><input type="text" name="ghost" placeholder="Spooooky title here"></span></label>
    <label><span>Title<input type="radio" name="ghost" value="title" required></span></label>
    <label><span>Author<input type="radio" name="ghost" value="author" required></span></label>
    
  </fieldset>
  <button type="submit" value="Search Gooooooogle......IF YOU DARE!!!!"></button>
  </form>
</body>
</html>