<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
  <h2>Your Ghostly Results are Bloody!</h2>
  <ul>
    <!-- <% Strawberries for display of DATA  Using ForEach -->
    <li>Data Here</li>
    <!--Image-->
    <!--ISBN-->
    <!--title-->
    <!--Descripition-->
  </ul>
</body>
</html>