<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
 <section>
   <% searchResults.forEach(book => { %>
    <% console.log('BOOK', book); %>
    <img scr= "<%= book.image_url %>">
    <h1><%=book.title%></h1>
    <h3><%=book.authors%></h3>
    <p><%=book.description%></p>
  <% }) %>
 </section>
</body>
</html>