<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
  <h2>Your Ghostly Results are Bloody!</h2>
  <!-- <li>Data Here</li> -->
  <% searchResults.forEach( book => { %>
    <section>
    <p><%= book.title %></p>
  </section>
    <% }) %>
    <!-- failed attempts: potato, -->
    <!--Image-->
    <!--ISBN-->
    <!--title-->
    <!--Descripition-->
</body>
</html>