<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
 <section>
  <div id = "oneBook">
    <h1> You made it!!!</h1>
</div>
 </section>
</body>
</html>