body {
  background: linear-gradient(to right, green, purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

header {
  background-color: rgb(178, 144, 34);
  color: aqua;
}

h2 {
  font-size: 48px;
  color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
  
}

legend {
  color: yellow;
  background: linear-gradient(to right, black, grey, lightgrey);
  justify-content: flex-end;
}

label {
  color: red;
  font-weight: bold;
  justify-content: flex-end;
}

input {
  background-color: #8A0303;
  justify-content: flex-end;
  color: aquamarine;
}

#spookybutton {
   background-color: rgb(255, 0, 170);
   font-size: medium;
   color: blue;
   height: 50px;
   width: 130px;

}

ul li {
  font-size: large;
  color: aqua;
}

section {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
  align-items: center;
  /* outline: cornsilk 3px dotted; */
}
/* ----  show ejs ---- */
#oneBook {
  background-color: darkgoldenrod;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 90%;
  
  /* width: auto; */
  /* flex-direction: column; */
  /* align-self: center; */
  /* outline: darkgrey 4px dashed; */
}

#myBooks {
  background-color: darkgoldenrod;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 90%;
  
  /* width: auto; */
  /* flex-direction: column; */
  /* align-self: center; */
  /* outline: darkgrey 4px dashed; */
}
img {
  margin-top: 15px;
  align-self: center;
  box-shadow: burlywood ;
  outline: deeppink 7px double;

}
h1 {
  margin-top: 10px;
  font-size: x-large;
  color: brown;
}
h3 {
  margin-top: 10px;
  font-size: medium;
  color: #8A0303;

}
p {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
}
